# Frontend runtime

# When set, the site fetches content from Payload CMS in addition to local Markdown
PAYLOAD_SECRET=7e31d636aaba482caebee489
PUBLIC_PAYLOAD_URL=http://localhost:3000
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
# Analytics / misc (kept empty by default)
GOOGLE_ANALYTICS_ID=

# Build-time flags
NODE_ENV=development
a# Frontend runtime

# USE SUPABASE DIRECT for faster builds
#USE_SUPABASE_DIRECT=true
#SUPABASE_URL=https://vllsclrrksydjkutvhfh.supabase.co
#SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsbHNjbHJya3N5ZGprdXR2aGZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4NDI1MzIsImV4cCI6MjA3MDQxODUzMn0.dEyyOBqzZC4RNVt2nfUlAMgQc39bba3LhH1zBZWpTs8

SUPABASE_URL=https://trbdgytcvcjitkfkrvdi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyYmRneXRjdmNqaXRrZmtydmRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMjMwMzYsImV4cCI6MjA3MTg5OTAzNn0.lm17ralFNQ3qds4i1usnvpyS90Pu2I4HyvZXRsTWXTE

# Payload CMS (fallback for non-Supabase queries)
#PAYLOAD_PUBLIC_SERVER_URL=http://172.29.32.1:3000
#PAYLOAD_SECRET=7e31d636aaba482caebee489
#API_URL=http://172.29.32.1:3000


# Analytics / misc (kept empty by default)
GOOGLE_ANALYTICS_ID=

# Build-time flags
NODE_ENV=development
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_vWvIOzthHCtmXeqO_AOhoWljKIRlC6ftBImcGVIbz483R0P
VERCEL_BLOB_STORE_ID=store_vWvIOzthHCtmXeqO
